APP_PORT={Default 8080}
RUNTIME_ENV={development|production}
DOMAIN={server domain}
DONORDB_API_DOMAIN={donor app backend domain}
LIVINGLIBRARY_API_DOMAIN={living library app backend domain}
LIVINGLIBRARY_API_KEY={living library api key}
DONOR_LETTER_SIGNATURE_IMAGE_FILENAME={name of signature image file for donation letter to donor. The file should be placed in the public/assets/img folder.}
LETTER_SIGNATURE_NAME={Letter signee name}
LETTER_SIGNATURE_TITLE={Letter signee title}
LANDING_PAGE_PATH={path to landing page}
