NODE_ENV={development|production}
NODE_PORT={donor app port}
CONFIGURATION_FILE={config.js}
SERVER_DOMAIN={application domain, default is localhost:3000}
CORS_ALLOWED_ORIGIN={domain of client application}
DATABASE_HOST={database domain}
DATABASE_USER={database username}
DATABASE_PWD={database password}
DATABASE_NAME={database name}
AUTH_SERVICE_URL={url to auth-service}
AUTH_TOKEN_SECRET_KEY={key string (hash)}
SESSION_TOKEN_DURATION={Session expiry in seconds}
